@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("/ass"); */
.App {
  width: calc(85% - 10px);
  margin: 0 auto;
  background-color: #f6f6ef!important;
}

.rootWhite{
  background-color: #fff;
 
}
.YourHighlightClass{
  background-color: yellow;
}
.rootBlack{
  /* background-color: #000; */
  background-color: #000;
  height: 145vh; 

}
body{
  display: block;
  margin: 8px;  
  color: #000;
  height: 100%;
  font-family: Verdana,Geneva,sans-serif;

}

.URL{
  font-size: 10pt;
  color: grey;
  margin: 0 10px;
  cursor: pointer;
}
.nav-title{
  padding: 0 2.5px;
  position: sticky;
  cursor: pointer;
  z-index: 1;
}

.nav-title :hover {
  color: #fff;
}
@media screen and (max-width: 750px) {
  #divNav{
    display: none;
  }

}
.upVote{
  display: inline-flex;
  width:10px;
  height: 10px;
  margin-top: 3px;
  color: #fafafa;
  
  transform: rotate(180deg) ;
  border:0px;
  
}

.pagination {
  position :fixed;
  bottom:0;
  left:0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  width:100%;
  
  margin:0;


    -ms-flex-pack: center;
  
    background-color: #f6f6ef;
    padding: 8px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


}
.pagination a{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #ccc;
  border-radius:3px;
  margin:0 2px;
  font-size:12px;
  background-color: #fff;
  color:#1c1e29;
  text-decoration: none;
  padding: 5px 8px;



}

.SearchHead_search{
  display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #ff742b;
    height: auto;
    padding: 4px;
    position: relative;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.SearchHeader_logo img {
  width: 48px;
  margin-right: 8px;
}
.SearchHeader_logo{
  flex: 1 0 180px;
  max-width: 180px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.SearchHeader_container{
  position: relative;
    display: inline-block;
    width: calc(100% - 324px);
    margin-right: 16px;
}
.pagination a:hover {
  color: #ff742b;
  border: 1px solid #ff742b;
}
.active-page a {
  color: #ff742b;
  border: 1px solid #ff742b;
}

.SearchHeader_label {
  color: #000;
  font-size: 18px;
  line-height: 1;
} 

.Dropdown_list {
  right: 0;
  top: 120%;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  white-space: nowrap;
  color: #5c5c5c;
  overflow: hidden;
  z-index: 500;
}

.SearchHeader_container {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
}
.SearchHeader .SearchInput {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0,0,0,.75);
}
.SearchHeader .SearchInput :focus-visible {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  outline: none !important;
}



.SearchHeader .SearchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
  color: #ff742b!important;
  font-size: 24px;
  pointer-events: none;
}
.highlightCls{
  /* text-decoration: ; */
  font-weight: 700;
}
.siNo{
  text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
} input[type=search]::-ms-clear {  
  display: none; 
  width : 0; 
  height: 0; 
  }
  input[type=search]::-ms-reveal { 
  display: none; 
  width : 0; 
  height: 0; 
  }
  select {
    padding: 2px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  option {
    padding: 2px;
    background-color: #f2f2f2;
    font-size: 16px;
  }

  :focus-visible {
    outline: none !important;
  }
 /* clears the 'X' from Chrome */
 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration { 
 display: none; 
 }